<form>
    <div class="mb-3">
    <input type="email" class="form-control" placeholder="Search by User" [(ngModel)] = "result" name="result" (keyup)='searchUser()'>
      {{result}}
    </div>
  </form>

<p><img src="{{ user.photo }}" alt="" /></p>
<p>{{ user.userName }}</p>
<button (click)= 'searchUserRepo()'>View Repos</button>
<app-user-repo [repos] = 'userRepos'></app-user-repo>
<!-- <p>{{ repo.totalCount }}</p> -->
<!-- <p *ngFor="let rep of repo">{{ rep.name }} -->
    <!-- {{rep.url}} -->
<!-- </p> -->